In [3]:
import json
import sqlite3

with open("info.json") as file :
    token = json.load(file)
    
connection = sqlite3.connect("data/database.db")
cursor = connection.cursor()

In [16]:
cursor.execute("""
        SELECT * FROM Jobs
""").fetchall()

[(1, 'Begger', 1, 100, 1, 'worked hard and earned money'),
 (2, 'Stripper', 2, 150, 1, 'worked hard and earned money'),
 (3, 'Telemarketer', 3, 200, 1, 'worked hard and earned money'),
 (4, 'Actor', 4, 250, 1, 'worked hard and earned money'),
 (5, 'Photographer', 5, 300, 1, 'worked hard and earned money'),
 (6, 'StockBrocker', 6, 350, 1, 'worked hard and earned money'),
 (7, 'RealStateAgent', 7, 400, 1, 'worked hard and earned money'),
 (8, 'CryptoMiner', 8, 500, 1, 'worked hard and earned money'),
 (9, 'Prostitute', 9, 600, 1, 'worked hard and earned money'),
 (10, 'DrugDealer', 10, 700, 1, 'worked hard and earned money'),
 (11, 'OrganDealer', 11, 800, 1, 'worked hard and earned money'),
 (12, 'Doctor', 12, 900, 1, 'worked hard and earned money'),
 (13, 'Surgon', 13, 1000, 1, 'worked hard and earned money'),
 (14, 'SlaveTrafficer', 14, 1200, 1, 'worked hard and earned money')]

In [ ]:
from utilities import UPDATE

UPDATE("Players", "PlayerID", 1, "Money", 2000)

In [12]:
cursor.execute("""
    CREATE TABLE Jobs (
        JobID INT NOT NULL PRIMARY KEY ,
        Title varchar(300) NOT NULL ,
        Level INT DEFAULT 1 ,
        PayCheck INT DEFAULT 100,
        Multiplier INT DEFAULT 1 ,
        Text TEXT DEFAULT "worked hard and earned money"
    )
""")

OperationalError: table Jobs already exists

In [13]:
cursor.execute("""
    ALTER TABLE Jobs ADD Text TEXT DEFAULT "worked hard and earned money"
""")

In [3]:
cursor.execute("""
    CREATE TABLE Items (
        ItemID INT NOT NULL PRIMARY KEY ,
        Title varchar(300) NOT NULL ,
        Level INT DEFAULT 1 ,
        Price INT DEFAULT 100,
        Attack INT DEFAULT 1 ,
        Defend INT DEFAULT 1
    )
""")

In [9]:
cursor.execute("""
    CREATE TABLE Inventories (
        InventoryID INT NOT NULL PRIMARY KEY ,
        Inventory varchar(1000) NOT NULL ,
        Bag TEXT DEFAULT "[]"
    )
""")

In [20]:
cursor.execute("""
    CREATE TABLE Members (
        MemberID    INT    NOT NULL ,
        NickName varchar(300),
        Name varchar(300) NOT NULL,
        Member int NOT NULL,
        PRIMARY KEY (MemberID)
    )
""")

In [17]:
cursor.execute("""
    SELECT * FROM Jobs
""").fetchall()

[(1, 'Begger', 1, 100, 1, 'worked hard and earned money'),
 (2, 'Stripper', 2, 150, 1, 'twerked and danced and earned some money'),
 (3, 'Telemarketer', 3, 200, 1, 'worked hard and earned money'),
 (4, 'Actor', 4, 250, 1, 'worked hard and earned money'),
 (5, 'Photographer', 5, 300, 1, 'worked hard and earned money'),
 (6, 'StockBrocker', 6, 350, 1, 'worked hard and earned money'),
 (7, 'RealStateAgent', 7, 400, 1, 'worked hard and earned money'),
 (8, 'CryptoMiner', 8, 500, 1, 'worked hard and earned money'),
 (9, 'Prostitute', 9, 600, 1, 'worked hard and earned money'),
 (10, 'DrugDealer', 10, 700, 1, 'worked hard and earned money'),
 (11, 'OrganDealer', 11, 800, 1, 'worked hard and earned money'),
 (12, 'Doctor', 12, 900, 1, 'worked hard and earned money'),
 (13, 'Surgon', 13, 1000, 1, 'worked hard and earned money'),
 (14, 'SlaveTrafficer', 14, 1200, 1, 'worked hard and earned money')]

In [10]:
cursor.execute("""
    CREATE TABLE Inventories (
        InventoryID INT NOT NULL PRIMARY KEY ,
        MemberID    INT    NOT NULL ,
        Inventory varchar(1000) NOT NULL ,
        Bag TEXT DEFAULT "[]",
        FOREIGN KEY    (MemberID)    REFERENCES Persons(MemberID) 
    )
""")

OperationalError: table Inventories already exists

In [3]:
cursor.execute("""
    ALTER TABLE Members DROP MemberId
""")

OperationalError: cannot drop PRIMARY KEY column: "MemberId"

In [24]:
cursor.execute("""
    INSERT INTO Members (MemberId, Name, Member) VALUES (29,'LazyRaccoon', 809083103829426206)
""")

In [16]:
cursor.execute("""
    SELECT * FROM Players
""").fetchall()

OperationalError: no such table: Players

In [8]:
cursor.execute("""
    DROP TABLE Inventories
""").fetchall()

[]

In [22]:
cursor.execute("""
    CREATE TABLE Players (
        PlayerID    INT    NOT NULL,
        
        MemberID    INT    NOT NULL ,
        
        JobID    INT    DEFAULT 1 ,
        
        Money    INT    DEFAULT 1000 ,
        
        Level    INT    DEFAULT 1 ,
        
        Player    INT    NOT NULL ,
        
        FOREIGN KEY    (MemberID)    REFERENCES Persons(MemberID) ,
        
        FOREIGN KEY (JobID)    REFERENCES Persons(JobID) ,
        
        PRIMARY KEY (PlayerID)
    )
""")

In [71]:
from utilities import INSERT_PLAYERS

INSERT_PLAYERS()

[(1, 'سرباز پسر', 'Matinamsa', 761679223005249557), (2, 'ارش کثیف', 'araash', 764089185438269470), (3, None, 'Monstercrazy', 830114748775399444), (4, 'dozd', 'zambie2000', 833013266878955580), (5, None, 'LuckyX_2007', 918160640181436456), (6, 'Mahan 2', 'mahan_moeini', 740638011003502692), (7, None, 'ŠŌĹŎ', 755890974009589813), (8, None, 'LazyRaccoon', 1004019524401639504), (9, None, 'prof. Lenin', 865572208965189673), (10, 'پرهام', 'Parham.1378', 741261619006537770), (11, 'هوا هوای عبادته', 'aria', 715468927966380054), (12, 'کره قهوه ای', 'arash.tb', 809083103829426206), (13, 'The Android sent by Cyberlife', 'Mahan', 697123888882253915), (14, None, 'mrredmider.redmider', 755663639918149672), (15, 'mr.brown', 'arash.tb', 896707257897713704), (16, 'Mahan 3', 'mahankiani', 969306288582430750), (17, 'shuttleCOCK', 'Mshmoeini', 837364335738880001), (18, None, 'aliprheidari', 740957399573332061), (19, None, 'parsa', 697346776469864519), (20, 'ح ز', 'ALI2007X', 740882396622094398), (21, 'بالاخره زنده شد', 'LazyRaccoon', 664127746896822292), (22, None, 'tm010', 882880150830735441), (23, 'مویینی', 'Mshmoeini', 793767477573451786), (24, 'TMK7', 'tm010', 882880150830735441), (25, None, 'GG_NEOX_GG', 911547659574202399), (26, None, 'V_iliam', 940906708035829770), (27, None, 'siavash.f', 950739248800227378), (28, None, 'iliya', 1004641663211286529)]

In [11]:
cursor.execute("""
    SELECT * FROM Inventories
""").fetchall()

# cursor.execute(f"""
#     SELECT * FROM Members WHERE MemberId BETWEEN 1 AND {last}
# """).fetchall()

[(1, 1, '761679223005249557', '[]'),
 (2, 2, '764089185438269470', '[]'),
 (3, 3, '830114748775399444', '[]'),
 (4, 4, '833013266878955580', '[]'),
 (5, 5, '918160640181436456', '[]'),
 (6, 6, '740638011003502692', '[]'),
 (7, 7, '755890974009589813', '[]'),
 (8, 8, '1004019524401639504', '[]'),
 (9, 9, '865572208965189673', '[]'),
 (10, 10, '741261619006537770', '[]'),
 (11, 11, '715468927966380054', '[]'),
 (12, 12, '809083103829426206', '[]'),
 (13, 13, '697123888882253915', '[]'),
 (14, 14, '755663639918149672', '[]'),
 (15, 15, '896707257897713704', '[]'),
 (16, 16, '969306288582430750', '[]'),
 (17, 17, '837364335738880001', '[]'),
 (18, 18, '740957399573332061', '[]'),
 (19, 19, '697346776469864519', '[]'),
 (20, 20, '740882396622094398', '[]'),
 (21, 21, '664127746896822292', '[]'),
 (22, 22, '882880150830735441', '[]'),
 (23, 23, '793767477573451786', '[]'),
 (24, 24, '882880150830735441', '[]'),
 (25, 25, '911547659574202399', '[]'),
 (26, 26, '940906708035829770', '[]'),
 (27, 27, '950739248800227378', '[]'),
 (28, 28, '1004641663211286529', '[]')]

In [14]:
connection.commit()

In [44]:
connection.close()